@model MoneyMe.Web.Models.Scaffolding.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">AspNetUserId</div>
    <div class="display-field">@Model.AspNetUserId</div>

    <div class="display-label">UserPositions</div>
    <div class="display-field">@(Model.UserPositions == null ? "None" : Model.UserPositions.Count.ToString())</div>

    <div class="display-label">Position</div>
    <div class="display-field">@(Model.Position == null ? "None" : Model.Position.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


