@model IEnumerable<MoneyMe.Web.Models.Scaffolding.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            AspNetUserId
        </th>
        <th>
            UserPositions
        </th>
        <th>
            Position
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.AspNetUserId
        </td>
        <td>
			@(item.UserPositions == null ? "None" : item.UserPositions.Count.ToString())
        </td>
        <td>
			@(item.Position == null ? "None" : item.Position.Name)
        </td>
    </tr>
}

</table>


