@model MoneyMe.Web.Models.Scaffolding.Family

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Family</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">AccountTransactionCategories</div>
    <div class="display-field">@(Model.AccountTransactionCategories == null ? "None" : Model.AccountTransactionCategories.Count.ToString())</div>

    <div class="display-label">Users</div>
    <div class="display-field">@(Model.Users == null ? "None" : Model.Users.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


