@model MoneyMe.Web.Models.Scaffolding.BankSpecificTransactionType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BankSpecificTransactionType</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">AccountTransactionType</div>
    <div class="display-field">@(Model.AccountTransactionType == null ? "None" : Model.AccountTransactionType.Name)</div>

    <div class="display-label">Bank</div>
    <div class="display-field">@(Model.Bank == null ? "None" : Model.Bank.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


