@model MoneyMe.Web.Models.Scaffolding.AccountTransaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AccountTransaction</legend>

    <div class="display-label">TransactionDate</div>
    <div class="display-field">@Model.TransactionDate</div>

    <div class="display-label">TransactionTime</div>
    <div class="display-field">@Model.ReceiptDate</div>

    <div class="display-label">RecordedDate</div>
    <div class="display-field">@Model.RecordedDate</div>

    <div class="display-label">AccountTransactionStatusId</div>
    <div class="display-field">@Model.AccountTransactionStatusId</div>

    <div class="display-label">Amount</div>
    <div class="display-field">@String.Format("{0:F}", Model.Amount)</div>

    <div class="display-label">Payee</div>
    <div class="display-field">@Model.Payee</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">AccountTransactionAccountTransactionCategories</div>
    <div class="display-field">@(Model.AccountTransactionAccountTransactionCategories == null ? "None" : Model.AccountTransactionAccountTransactionCategories.Count.ToString())</div>

    <div class="display-label">AccountStatement</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.AccountStatement).ToString()</div>

    <div class="display-label">AccountTransactionStatu</div>
    <div class="display-field">@(Model.AccountTransactionStatu == null ? "None" : Model.AccountTransactionStatu.Name)</div>

    <div class="display-label">AccountTransactionType</div>
    <div class="display-field">@(Model.AccountTransactionType == null ? "None" : Model.AccountTransactionType.Name)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


