@model MoneyMe.Web.Models.Scaffolding.Bank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Bank</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">BankAccounts</div>
    <div class="display-field">@(Model.BankAccounts == null ? "None" : Model.BankAccounts.Count.ToString())</div>

    <div class="display-label">BankSpecificTransactionTypes</div>
    <div class="display-field">@(Model.BankSpecificTransactionTypes == null ? "None" : Model.BankSpecificTransactionTypes.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


