@model MoneyMe.Web.Models.Scaffolding.AspNetUser

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.EmailConfirmed)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EmailConfirmed)
    @Html.ValidationMessageFor(model => model.EmailConfirmed)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PasswordHash)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PasswordHash)
    @Html.ValidationMessageFor(model => model.PasswordHash)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.SecurityStamp)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.SecurityStamp)
    @Html.ValidationMessageFor(model => model.SecurityStamp)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PhoneNumber)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PhoneNumber)
    @Html.ValidationMessageFor(model => model.PhoneNumber)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PhoneNumberConfirmed)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PhoneNumberConfirmed)
    @Html.ValidationMessageFor(model => model.PhoneNumberConfirmed)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.TwoFactorEnabled)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.TwoFactorEnabled)
    @Html.ValidationMessageFor(model => model.TwoFactorEnabled)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LockoutEndDateUtc)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LockoutEndDateUtc)
    @Html.ValidationMessageFor(model => model.LockoutEndDateUtc)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LockoutEnabled)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LockoutEnabled)
    @Html.ValidationMessageFor(model => model.LockoutEnabled)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.AccessFailedCount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AccessFailedCount)
    @Html.ValidationMessageFor(model => model.AccessFailedCount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.UserName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.UserName)
    @Html.ValidationMessageFor(model => model.UserName)
</div>

