@model MoneyMe.Web.Models.Scaffolding.AccountTransactionCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AccountTransactionCategory</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">AccountTransactionAccountTransactionCategories</div>
    <div class="display-field">@(Model.AccountTransactionAccountTransactionCategories == null ? "None" : Model.AccountTransactionAccountTransactionCategories.Count.ToString())</div>

    <div class="display-label">AccountTransactionCategoryMatchPatterns</div>
    <div class="display-field">@(Model.AccountTransactionCategoryMatchPatterns == null ? "None" : Model.AccountTransactionCategoryMatchPatterns.Count.ToString())</div>

    <div class="display-label">Family</div>
    <div class="display-field">@(Model.Family == null ? "None" : Model.Family.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


