@model IEnumerable<MoneyMe.Web.Models.Scaffolding.UserPosition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Position
        </th>
        <th>
            User
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@(item.Position == null ? "None" : item.Position.Name)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.User).ToString()
        </td>
    </tr>
}

</table>


