@model IEnumerable<MoneyMe.Web.Models.Scaffolding.AccountTransactionCategoryMatchPattern>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Pattern
        </th>
        <th>
            MatchMethodId
        </th>
        <th>
            AccountTransactionCategory
        </th>
        <th>
            AccountTransactionCategoryMatchPatternMatchMethod
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Pattern
        </td>
        <td>
			@item.MatchMethodId
        </td>
        <td>
			@(item.AccountTransactionCategory == null ? "None" : item.AccountTransactionCategory.Name)
        </td>
        <td>
			@(item.AccountTransactionCategoryMatchPatternMatchMethod == null ? "None" : item.AccountTransactionCategoryMatchPatternMatchMethod.Name)
        </td>
    </tr>
}

</table>


