@model MoneyMe.Web.Models.Scaffolding.AggregateRootEvent

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.AggregateId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AggregateId)
    @Html.ValidationMessageFor(model => model.AggregateId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Version)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Version)
    @Html.ValidationMessageFor(model => model.Version)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Data)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Data)
    @Html.ValidationMessageFor(model => model.Data)
</div>

