@model MoneyMe.Web.Models.Scaffolding.AggregateRootEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AggregateRootEvent</legend>

    <div class="display-label">AggregateId</div>
    <div class="display-field">@Model.AggregateId</div>

    <div class="display-label">Version</div>
    <div class="display-field">@Model.Version</div>

    <div class="display-label">Data</div>
    <div class="display-field">@Model.Data</div>

    <div class="display-label">AggregateRoot</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.AggregateRoot).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


