@model MoneyMe.Web.Models.Scaffolding.Account

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    User
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.UserId, ((IEnumerable<MoneyMe.Web.Models.Scaffolding.User>)ViewBag.PossibleUsers).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option.Username).ToString(), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.UserId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.UserId)
</div>
