@model MoneyMe.Web.Models.Scaffolding.AspnetPersonalizationPerUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AspnetPersonalizationPerUser</legend>

    <div class="display-label">PathId</div>
    <div class="display-field">@Model.PathId</div>

    <div class="display-label">PageSettings</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.PageSettings).ToString()</div>

    <div class="display-label">LastUpdatedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.LastUpdatedDate)</div>

    <div class="display-label">AspnetPaths</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.AspnetPaths).ToString()</div>

    <div class="display-label">AspnetUsers</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.AspnetUsers).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


