@model IEnumerable<MoneyMe.Web.Models.Scaffolding.AspnetPersonalizationPerUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            PathId
        </th>
        <th>
            PageSettings
        </th>
        <th>
            LastUpdatedDate
        </th>
        <th>
            AspnetPaths
        </th>
        <th>
            AspnetUsers
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.PathId
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.PageSettings).ToString()
        </td>
        <td>
			@String.Format("{0:g}", item.LastUpdatedDate)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.AspnetPaths).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.AspnetUsers).ToString()
        </td>
    </tr>
}

</table>


